.about_us section{
    margin: 6.5rem 0;
}
@media screen and (max-width:768px) {
    .about_us section{
        margin: 4.5rem 0;
    }
}
/* Header */
.banner-1{
    margin: 6.5rem 0;
    overflow: hidden;
}
.banner-2{
    overflow: hidden;
}
.red-heading{
    color: #ff6363;
}
.banner-1 p,.banner-2 p{
    font-size: 1.25rem;
}
@media screen and (max-width: 576px){
    .banner-1 p,.banner-2 p{
        font-size: 1rem;
    }
}
/* Industry Section */
.trusted-industry{
    background-color: #f8f8f8;
    padding: 6rem 0;
}
@media screen and (max-width:768px){
    .trusted-industry{
        padding: 4rem 0;
    }
}
.trusted-industry p{
    margin-bottom: 3rem;
}
.row-item{
    text-align: center;
}
.trusted-industry img{
    opacity: 0.4;
    margin-bottom: 1.5rem;
}
/* Banner */ 
.image{
    width: 100%;
    opacity: 1 !important;
}
/* Team */
.team{
    margin-bottom: 0rem;
}
.img_container{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.overlay button{
    height: 2rem;
    width: 2rem;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    background-color: white;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;
}
.overlay button img{
    width: 1rem;
    height: 1rem;
}
.overlay button:hover{
    background-color: #ff6363;
}
.img_container:hover .overlay {
    opacity: 1;
}
.team{
    margin-top: 9rem !important;
}
.team img{
    position: relative;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}
.team .lead{
    font-weight: 600 !important;
}