#cta-wrapper{
    margin-bottom: 7rem;
}
#mail-wrapper{
    margin-bottom: 8rem;
}
@media screen and (max-width:768px){
    #cta-wrapper{
        margin-bottom: 3rem;
    }
    #mail-wrapper{
        margin-bottom: 4rem;
    }
}
#list_wrapper{
    margin-bottom: 5rem;
}
.cards{
    box-shadow: 0px 4px 11px 0 rgba(0,0,0,0.07);
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.cards:hover{
    box-shadow: 0px 9px 19px 7px rgba(0,0,0,0.08)
}
.cards img{
    padding: 2rem 1.25rem;
}
