img{
  max-width: 100%;
}

#learn_more {
  color: #ff6363;
}
.price {
  margin: 5rem 0;
}
.below_price {
  margin-bottom: 4rem;
}
.below_cta {
  font-weight: 500;
  margin-bottom: 4rem;
}
.gray_area{
  background: #f8f8f8;
}
.brands {
  padding: 9rem 0;
}
@media screen and (max-width: 991px) {
  .brands {
    padding: 6rem 0 3rem 0;
  }
}
@media screen and (max-width: 768px) {
  .brands {
    padding: 5rem 0 0rem 0;
  }
}
.brands .cards img {
  padding: 2.5rem 1.25rem;
}
.brands .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.brands .lead {
  font-weight: 400 !important;
  padding-right: 9rem !important;
}
.brands .cards{
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .brands .lead {
    padding-right: 1rem !important;
  }
}
@media screen and (max-width: 576px) {
  .brands .lead {
    font-size: 1rem;
    padding-right: 1rem !important;
  }
  .brands .rounded-pill {
    margin-bottom: 1rem !important;
  }
}
.brands .rounded-pill {
  display: inline-block;
  padding: 0.25rem 1rem;
  border: 1px solid black;
  margin-bottom: 2rem;
}
.brands .red_link {
  color: #ff6363;
  font-size: 1.25rem;
  font-weight: 600;
}
.link_container {
  display: flex;
  align-items: center;
}
.link_container a {
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}
.link_container a:hover {
  margin-right: 1.5rem;
}
/* Testimonial */
.testimonial {
  background-color: black;
  padding: 10rem 0;
}
@media screen and (max-width: 768px) {
  .testimonial {
    padding: 5rem 0;
  }
  .testimonial hr{
      margin: 1.5rem 0 !important;
  }
}
.testimonial h4.upper{
    font-weight: 600;
}
.testimonial .profile h4{
    font-size: 1.25rem;
}
.testimonial h1 {
  font-weight: 400;
}
.testimonial hr{
    margin: 2.5rem 0;
}