.supercharge{
    padding: 7rem 3rem;
    border-radius: 1rem;
}
@media screen and (max-width:576px){
    .supercharge{
        padding: 3rem 1.25rem;
    }
}
.supercharge.true{
    margin-top: 12rem;
}
@media screen and (max-width:991px){
    .supercharge.true{
        margin-top: 3rem;
    }
}
.supercharge.normal{
    background-color: white;
    color: black;
    border: 3px solid black;
}
.supercharge.red{
    background-color: #ff6363;
    color: white;
    border: 3px solid #ff6363;
}
.cards_container{
    padding: 7rem 0;
}
@media screen and (max-width:768px){
    .cards_container{
        padding: 3rem 0;
    }
}
.cards_container .heading{
    margin-bottom: 4rem;
}
.supercharge .lead{
    font-weight: 500 ;
}